.container2{
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    width:72%;
    height:30%;
    margin: auto;
    margin-top:50px;
    margin-left:200px;
    border-bottom:20px;
}
.container2 img{
    width:250px;
    height:200px;
    padding-left: 20px;
    border-radius:40px ;
    position: relative;
}
.container2 img:hover{
    transform: scale(0.9);
}
.cards h2{
    text-transform: capitalize;
    font-size:larger;
    padding-left:40px;

}
.cards p{
    text-transform: capitalize;
    padding-left:40px;
    font-weight:lighter;
    color: gray;
}
.cards span{
    color:white;
    border:2px solid black;
    border-radius:50px;
    background-color: green;
    
}
.cards h3{
    padding-left:40px;
    font-size:medium;
}
.header{
    text-transform: capitalize;
    display:grid;
    grid-auto-flow:column;
  
}
.header h2{
    padding-left:20%;
}
.header .select{
    padding-left:50%;
    margin-top:25px;
}
