.nav{
    background-color:whitesmoke;
    border: 1px solid white;
    margin-left:50px;
    margin-right:50px;
    padding-left:30px;
    padding-right:60px;
    
}
.item a{
    text-decoration: none;
    color:gray;
    float:right;
    padding-left:70px;
    text-transform: capitalize;
    padding-top:20px;

}
.item i{
    color: gray;
}
 .others {
    text-decoration: underline;
    padding-right:10px;

    
}
.item a:hover{
    color: orangered;
}
.logo{
    width:100px;
    height:70px;
    background-color: whitesmoke;
}